/* -------------
fonts 
----------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* -------------
body styles
---------------- */
body {
  font-family: "Poppins", sans-serif;
  background: #f3f1ff;
  margin: 0;
  padding: 0;
}

/*--------------
 header styles
 --------------- */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 1440px; */
  height: 677px;
  background: #2d25a0;
  overflow: hidden;
}
.header-detail,
.header-banner {
  width: 50%;
}
.header-detail {
  padding-left: 155px;
  padding-right: 51px;
}
.header-banner {
  padding-right: 140px;
  padding-left: 51px;
}
.header-detail h1 {
  font-size: 64px;
  color: white;
  margin-bottom: 27px;
  width: 485px;
}
.header-detail a {
  text-decoration: none;
  color: white;
  background-color: #e02c6d;
  padding: 10px 24px;
}
.header-banner img {
  width: 556.01px;
  height: 438px;
}
/*-----------------
 header animation
 ---------------- */

.header-container:hover .header-detail {
  animation-name: sliding-horizontally;
  animation-duration: 4s;
}
@keyframes sliding-horizontally {
  from {
    margin-right: 100%;
    width: 200%;
  }

  to {
    width: 100%;
  }
}
/* --------------
player section styles
----------------- */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.player-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 27px;
}
.player {
  width: 330px;
  height: 474px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: justify;
}
.player-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-image img {
  width: 300px;
  height: 256px;
}
.player-detail {
  padding-right: 15px;
  padding-bottom: 18px;
  padding-left: 15px;
}
.player-detail h2 {
  font-weight: bold;
  font-size: 28px;
  color: #18191f;
  margin-top: 16px;
  margin-bottom: 10px;
}
.player-detail p {
  font-size: 16px;
  color: #6c6c6c;
  margin-top: 6px;
}
/* --------------------------
-----------------------------
highlight section styles
---------------------------
----------------------------- */
.highlight-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
}
.highlight-box {
  height: 350px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 0 15px;
  border-radius: 5px;
}
#highlight-title {
  text-align: start;
  margin-top: -10px;
}
.highlight-video video {
  width: 320px;
  height: 240px;
}
#highlight-btn {
  text-decoration: none;
  color: white;
  background-color: #e02c6d;
  padding: 10px 24px;
  margin-top: 15px;
}
#highlight-btn:hover {
  background-color: crimson;
}
/* -----------------
------------------
ticket section styles
----------------
------------------ */
.ticket-section {
  display: flex;

  align-items: center;
  margin-top: 50px;

  background: #2d25a0;
  overflow: hidden;
}
.ticket-title,
.ticket-banner {
  width: 50%;
}
.ticket-title {
  padding-left: 155px;
  padding-right: 51px;
}
.ticket-banner {
  padding-right: 140px;
  padding-left: 51px;
}
.ticket-title a {
  text-decoration: none;
  color: white;
  background-color: #e02c6d;
  padding: 10px 24px;
}
.ticket-title a:hover {
  background-color: crimson;
}
.ticket-section:hover .ticket-title,
.ticket-banner {
  animation-name: transform;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}
@keyframes transform {
  from {
    transform: scale(1.8);
  }

  to {
    transform: scale(1.2);
  }
}
/* ----------------
-------------------
footer styles
----------------
------------------- */
.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.footer-logo img {
  width: 483.87px;
  height: 110px;
}
.footer-icon {
  text-align: center;
  font-size: 18px;
}
.footer-icon a {
  color: #6c6c6c;
}
.footer-icon a:hover {
  color: cornflowerblue;
}
/* -------------------
------------------------
media query
-------------------------
------------------------ */
@media only screen and (max-width: 688px) {
  .main-container,
  .highlight-container,
  .header-container,
  .ticket-section {
    width: 100%;
  }
  .header-container,
  .ticket-section {
    flex-direction: column;
    justify-content: center;
  }
  .player-box,
  .highlight-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
